.login {
    min-height: 100vh;
  }
  .bg-image {
    background-image: url('../../Assets/photo-1486406146926-c627a92ad1ab.png');
    background-size: cover;
    background-position: center;
  }
  .login-heading {
    font-weight: 300;
  }
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    
  }
  .invalid
  {
    border-color: red!important;
  }
  .logo{
    width: 500px;
  }